html {
    overflow-x: hidden;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* # Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #5846f9;
    border-top-color: #e7e4fe;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* navbar */
.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Roboto' sans-serif;
}

.navbar .navbar-brand {
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.navbar .navbar-nav {
    margin-left: 11rem;
}

.navbar .navbar-brand span {
    color: red;
}

.navbar .navbar-nav a {
    color: white;
    font-size: 20px;
}

.navbar .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 20px;
}

.navbar .social-icon .icon {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

.navbar .social-icon .icon a {
    color: #fff;
    text-decoration: none;
    transition: 1s ease-in-out;
}

.navbar .social-icon .icon:hover a {
    color: #2351DC;
}

.navbar .social-icon .icon:hover {
    border: none;
    background-color: white;
    color: #2351DC !important;
}

@media (max-width:1230px) {
    .navbar .navbar-nav {
        margin-left: 8rem;
    }
}

@media (max-width:1200px) {
    .navbar .navbar-nav {
        margin-left: 5rem;
    }
}

@media (max-width:1120px) {
    .navbar .navbar-nav {
        margin-left: 3rem;
    }

    .navbar .social-icon {
        font-size: 16px;
    }

    .navbar .social-icon .icon {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:1030px) {
    .navbar .navbar-nav {
        margin-left: 1.5rem;
    }
}

@media (max-width: 991px) {
    .navbar {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

header {
    background: url(../images/nature.jpg) fixed;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

header .container-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

header .container-header p {
    color: #2351DC;
    font-weight: 800;
    font-size: 20px;
}

header .container-header .btn-outline-primary {
    color: #2351DC !important;
    transition: 1s ease-in-out;
}

header .container-header .btn-outline-primary:hover {
    color: #fff !important;
}

header .arrow-down {
    bottom: 20px;
    color: #2351DC;
    font-size: 20px;
    height: 32px;
    left: 50%;
    line-height: 32px;
    margin-left: -16px;
    position: absolute;
    text-align: center;
    width: 32px;
    z-index: 3;
}

header .arrow-down .animated {
    animation: fadeInDown 1.5s infinite;
    -webkit-animation: fadeInDown 1.5s infinite;
    position: relative;
}

#header.header-scrolled{
    background: rgba(13,110,253,0.8);
    /* padding: 12px 0; */
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        top: -25px;
    }

    100% {
        opacity: 1;
        top: 10px;
    }
}

@media (max-width: 500px) {
    header .container-header {
        left: 55%;
        width: 95%;
        word-wrap: break-word;
    }
}

/* about section */
.bio-container {
    background-color: #508AF6;
    padding: 4.5rem 0;
    position: relative;
}

.about h1 {
    color: #fff;
    opacity: 0.3;
    text-align: center;
    font-size: 8.25rem;
    font-weight: 600;
    line-height: 1.3;
}

.about .head {
    position: relative;
    margin-bottom: 5rem;
}

.about #bio {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
    position: absolute;
    top: 50%;
    left: 45%;
}

.about h3 strong {
    color: #fff;
}

.about p {
    color: #fff;
    opacity: 0.8;
    line-height: 1.8;
    font-size: 1.1rem;
}

.about .image img {
    height: 550px;
    object-fit: cover;
    box-shadow: rgb(0, 0, 0) 10px 10px 4px;
}

.bio-container .btn-primary a {
    color: white;
    text-decoration: none;
}

.about .experience {
    margin-top: 3rem;
}

.about .experience .inner {
    border-right: 1px dotted #dee3e4;
}

.about .experience .span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .experience span {
    display: block;
    text-align: center;
    font-size: 3rem;
    color: #fff;
    opacity: 0.8;
}

.about .experience p {
    text-align: center;
    font-size: 1rem;
    color: #dee3e4;
}

.about .my-skills {
    background-color: #fff;
    padding: 2.5rem 0;
    position: relative;
}

.about .my-skills h1 {
    color: #000;
}

.about .skill {
    color: #000;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
    position: absolute;
    top: 50%;
    left: 40%;
}

.about .my-skills .skill-row {
    display: flex;
    gap: 20px;
}

.about .my-skills .skill-row .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 248, 254);
    color: rgb(35, 81, 220);
    font-size: 50px;
    border-radius: 5px;
    padding: 5px;
}

.about .my-skills .skill-row .icon img {
    width: 50px;
}

.about .my-skills .progress-div {
    width: 100%;
    position: relative;
}

.about .my-skills .progress-div h3 {
    font-size: 20px;
    display: inline-block;
}

.about .my-skills .progress-div span {
    position: absolute;
    right: 0;
    font-size: 20px;
}

.about .education {
    background-color: #508AF6;
    padding: 4.5rem 0;
    position: relative;
}

.about .education .edu {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
    position: absolute;
    top: 50%;
    left: 40%;
}

.about .education .myEducation h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    color: white;
}

.about .education .myEducation .eduTimeline {
    max-width: 1200px;
    margin: 0;
    color: white;
}

.about .education .myEducation .eduTimeline {
    max-width: 1200px;
    margin: 0;
    color: white;
    position: relative;
}

.about .education .myEducation .eduTimeline::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 30px;
    z-index: 0;
    width: 6px;
    background-color: #dddddd;
    top: 0;
}

.about .education .myEducation .eduTimeline .wrapper {
    background-color: inherit;
    width: 50%;
    padding: 10px 40px;
    position: relative;
}

.about .education .myEducation .eduTimeline .wrapper::after {
    position: absolute;
    content: '';
    background-image: url(../images/graduate.jpg);
    border: 4px solid #dddddd;
    top: 15px;
    width: 40px;
    height: 40px;
    right: -20px;
    border-radius: 50%;
    z-index: 1;
    background-size: cover;
}

.about .education .myEducation .eduTimeline .wr::after {
    position: absolute;
    content: '';
    background-image: url(../images/graduate.jpg);
    border: 4px solid #dddddd;
    top: 15px;
    width: 40px;
    height: 40px;
    left: -20px;
    border-radius: 50%;
    z-index: 1;
    background-size: cover;
}

.about .education .myEducation .eduTimeline .left {
    left: 0;
}

.about .education .myEducation .eduTimeline .left::before {
    position: absolute;
    content: '';
    height: 0;
    right: 30px;
    z-index: 1;
    border: medium solid #508AF6;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #508AF6;
    top: 22px;
    width: 0;
}

.about .education .myEducation .eduTimeline .right {
    left: 50%;
}

.about .education .myEducation .eduTimeline .right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #508AF6;
    border-width: 10px 10px 10px 0;
    border-color: transparent #508AF6 transparent transparent;

}

.about .education .myEducation .eduTimeline .wrapper .content {
    position: relative;
    padding: 20px 30px;
    border-radius: 6px;
    background-color: #508AF6;
    box-shadow: 10px 10px 4px #000;
    transition: 0.9s ease-in-out;
}

.about .education .myEducation .eduTimeline .right .content {
    box-shadow: -10px 10px 4px #000;
    transition: 0.9s ease-in-out;
}

.about .education .myEducation .eduTimeline .wrapper .content h4 {
    font-size: 1.5rem;
    text-align: left;
    margin: 0;
    margin-bottom: 0.5rem;
    transition: 0.9s ease-in-out;
}

.about .education .myEducation .eduTimeline .wrapper .content:hover h4 {
    color: #508AF6;
}

.about .education .myEducation .eduTimeline .wrapper .content p {
    color: white;
    transition: 0.9s ease-in-out;
}

.about .education .myEducation .eduTimeline .wrapper .content:hover p {
    color: #508AF6;
}

.about .education .myEducation .eduTimeline .wrapper .content:hover {
    background-color: white;
    color: #508AF6;
}

@media (max-width:991px) {
    .about .image {
        text-align: center;
    }

    .about .image img {
        margin-bottom: 2rem;
        text-align: center;
    }

    .about .experience .inner2 {
        border-right: none;
    }

    .about .education .myEducation .eduTimeline .wrapper {
        padding-left: 20px;
    }

    .about .education .myEducation .eduTimeline .right {
        padding-left: 40px;
        padding-right: 20px;
    }
}

@media (max-width:767px) {
    .about .experience .inner {
        border-right: none;
    }

    .about .education .myEducation .eduTimeline::after {
        left: 90%;
    }

    .about .education .myEducation .eduTimeline .right {
        padding-left: 20px;
        padding-right: 40px;
        left: 0;
    }

    .about .education .myEducation .eduTimeline .wrapper {
        width: 90%;
    }

    .about .education .container .myEducation .eduTimeline .wr::after {
        left: 95.5%;
    }

    .about .education .myEducation .eduTimeline .right .content {
        box-shadow: 10px 10px 4px #000;
    }

    .about .education .myEducation .eduTimeline .right::before {
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #508AF6;
        left: 91.2%;
    }
}

@media (max-width: 522px) {
    .about .education .myEducation .eduTimeline .right::before {
        left: 90.2%;
    }
}

@media (max-width: 466px) {
    .about .education .myEducation .eduTimeline .right::before {
        left: 90%;
    }
}

@media (max-width: 460px) {
    .about .education .myEducation .eduTimeline .right::before {
        left: 89%;
    }
}

@media (max-width: 422px) {
    .about .education .myEducation .eduTimeline .right::before {
        left: 88%;
    }
}

@media (max-width: 390px) {
    .about .education .myEducation .eduTimeline .right::before {
        left: 87%;
    }
}

@media (max-width: 362px) {
    .about .education .myEducation .eduTimeline .right::before {
        left: 86%;
    }
}

/* services section */
.services .pre-services {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/timer.jpg) fixed;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}

.services .pre-services .container {
    background: transparent;
    text-align: center;
    color: white;
}

.services .pre-services .container h2 {
    font-size: 1.75rem;
    margin-bottom: 20px;
    text-align: center;
}

.services .pre-services .container h3 {
    font-size: 15px;
    margin-bottom: 1rem;
    text-align: center;
}

.services .pre-services .container .btn {
    border-radius: 25px;
    padding: 10px 50px;
}

.services .post-services {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/city.jpeg) fixed;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    color: white;
    text-align: center;
}

.services .post-services i {
    font-size: 25px;
}

.services .post-services span {
    color: red;
    font-size: 25px;
    font-weight: 700;
}

.main-services {
    background-color: #508AF6;
    padding: 4.5rem 0;
    position: relative;
}

.main-services h1 {
    color: #fff;
    opacity: 0.3;
    text-align: center;
    font-size: 8.25rem;
    font-weight: 600;
    line-height: 1.3;
}

.main-services .head {
    position: relative;
    margin-bottom: 5rem;
}

.main-services h3 {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
    position: absolute;
    top: 50%;
    left: 37%;
}

.main-services i {
    font-size: 50px;
    margin-top: 30px;
    /* color: white; */
}

.main-services h2 {
    color: white;
}

/* portfolio section */
.portfolio {
    background-color: #fff;
}

.portfolio .my-work {
    background-color: #fff;
    padding: 4.5rem 0;
    position: relative;
}

.portfolio .my-work h1 {
    color: #000;
    opacity: 0.3;
    text-align: center;
    font-size: 8.25rem;
    font-weight: 600;
    line-height: 1.3;
}

.portfolio .head {
    position: relative;
    margin-bottom: 5rem;
}

.portfolio .head h3 {
    color: #000;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
    position: absolute;
    top: 50%;
    left: 40%;
}

.portfolio .row {
    background-color: #eee;
    padding-bottom: 1rem;
}

.portfolio .row .img {
    margin-top: 30px;
    position: relative;
}

.portfolio .row .img .text {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s ease-in-out 0s;
}

.portfolio .row .img img {
    transition: all 0.5s ease-in-out 0s;
}

.portfolio .row .img:hover img {
    filter: brightness(50%);
    transform: scale(1.03);
}

.portfolio .row .img:hover .text {
    opacity: 1;
}

.portfolio .row .img .text h3 {
    font-size: 1.75rem;
    color: white;
}

.portfolio .row .img .text .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
}

.portfolio .row .img .text .icon:hover p {
    opacity: 1;
}

.portfolio .row .img .text .icon a {
    color: white;
}

.portfolio .row .img .text .icon i {
    font-size: 30px;
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
}

.portfolio .row .img .text .icon .fa-eye::after {
    content: 'view live demo';
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    top: 90%;
    left: 0;
    opacity: 0;
}

.portfolio .row .img .text .icon .fa-github::after {
    content: 'view on github';
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    top: 90%;
    right: -10%;
    opacity: 0;
    font-weight: 900;
}

.portfolio .row .img .text .icon .fa-eye:hover:after {
    opacity: 1;
}

.portfolio .row .img .text .icon .fa-github:hover::after {
    opacity: 1;
}

/* client section */
.client {
    background-color: #508AF6;
    padding: 4.5rem 0;
}

.client .head h1 {
    color: #fff;
    opacity: 0.3;
    text-align: center;
    font-size: 8.25rem;
    font-weight: 600;
    line-height: 1.3;
}

.client .head {
    position: relative;
    margin-bottom: 5rem;
}

.client .head h3 {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
    position: absolute;
    top: 50%;
    left: 40%;
}

.client .card {
    border: none;
    background-color: transparent;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.client .card .card-inner {
    background-color: #0D6EFD;
    margin: 0 5px;
    padding: 2rem;
    border-radius: 10px;
}

.client .card .card-inner .person {
    display: flex;
    gap: 20px;
}

.client .card .card-inner .person .details {
    margin-top: 2rem;
}

.client .card img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.client .card i {
    color: yellow;
}

@media (max-width:971px) {
    .client .card {
        padding: 0 2rem 3rem !important;
    }
}

/* contact section */
.contact {
    background-color: #fff;
    padding: 4.5rem 0;
}

.contact .head h1 {
    color: #000;
    opacity: 0.3;
    text-align: center;
    font-size: 8.25rem;
    font-weight: 600;
    line-height: 1.3;
}

.contact .head {
    position: relative;
    margin-bottom: 5rem;
}

.contact .head h3 {
    color: #000;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
    position: absolute;
    top: 50%;
    left: 40%;
}

.contact .social-icon {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.contact .social-icon .icon {
    border: 1px solid #2351DC;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.contact .social-icon .icon:hover {
    width: 55px;
    height: 55px;
    font-size: 24px;
}

.contact .icon-details {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.contact .icon-details i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #2351DC;
}

.contact form #name,
.contact form #email,
.contact form #subject {
    width: 100%;
    margin-bottom: 20px;
    border: 0.5px solid rgb(118, 118, 118);
    border-radius: 6px;
    padding: 6px;
}

.contact form textarea {
    width: 100%;
    border-radius: 10px;
    padding: 6px;
}

.contact form #name:focus-visible,
.contact form #email:focus-visible,
.contact form #subject:focus-visible,
.contact form textarea:focus-visible {
    outline: none;
}

@media (max-width:991px) {
    .contact h5 {
        margin-top: 2rem;
    }

    .scrollspy-example .contact .head h1 {
        font-size: 7rem;
    }
}

/* footer section */
footer {
    margin: 0;
    align-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 100px 10% 50px;
}

footer .line {
    height: 10px;
    position: absolute;
    top: 40%;
    width: 80%;
    border-bottom: 1px solid rgb(255, 255, 255);
}

footer h2 {
    z-index: 1;
}

footer .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

footer .social-icon .icon a {
    color: white;
}

footer .social-icon .icon {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

footer .social-icon .icon:hover {
    border: none;
    background-color: white;
}

footer .social-icon .icon:hover a {
    color: #2351DC;
}

/* arrow-up */
.arrow-up {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    bottom: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
    cursor: pointer;
    font-size: 18px;
    height: 44px;
    line-height: 42px;
    position: fixed;
    right: 10px;
    text-align: center;
    transition: all .3s ease-in-out;
    width: 44px;
    z-index: 1030;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
}

.arrow-up a {
    color: #fff;
}

.arrow-up:hover {
    background: #7b27d8;
    color: #fff;
}

.arrow-up.active {
    visibility: visible;
    opacity: 1;
}

/* # Back to top button */



@media(max-width:879px) {
    .scrollspy-example section .head h1 {
        font-size: 6rem;
    }

    .about .education .edu {
        left: 30%
    }

    .about #bio {
        left: 40%;
    }

    .scrollspy-example .about .head .skill,
    .portfolio .head h3,
    .client .head h3 {
        left: 35%;
    }

    .main-services h3,
    .contact .head h3 {
        left: 32%;
    }
}

@media (max-width:650px) {

    .scrollspy-example .client .head h1,
    .scrollspy-example .services .head h1 {
        font-size: 5rem;
    }

    .scrollspy-example .client .head h3 {
        left: 30%;
    }
}

@media (max-width:650px) {

    .scrollspy-example .client .head h1,
    .scrollspy-example .portfolio .my-work h1 {
        font-size: 4.5rem;
    }

    .scrollspy-example .client .head h3 {
        left: 25%;
        top: 40%;
    }

    .portfolio .head h3 {
        left: 30%;
        top: 40%;
    }
}

@media (max-width: 768px) {
    .scrollspy-example .contact .head h1 {
        font-size: 5rem;
    }
}

@media (max-width: 521px) {

    .scrollspy-example .contact .head h1,
    .scrollspy-example .about .head h1 {
        font-size: 4.5rem;
    }
}

@media (max-width: 464px) {

    .scrollspy-example .client .head h1,
    .scrollspy-example .contact .head h1 {
        font-size: 4rem;
    }

    .scrollspy-example section .head h3,
    .scrollspy-example section .head #bio,
    .scrollspy-example section .head .edu {
        font-size: 2rem;
    }
}

@media (max-width: 430px) {
    .scrollspy-example .client .head h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 410px) {
    footer .line {
        top: 37%;
    }

    .scrollspy-example .contact .head h1 {
        font-size: 3.5rem;
    }

    .scrollspy-example .portfolio .my-work h1,
    .scrollspy-example .about .head h1 {
        font-size: 4rem;
    }
}

@media (max-width: 360px) {

    .scrollspy-example .contact .head h1,
    .scrollspy-example .client .head h1 {
        font-size: 3.2rem;
    }

    .scrollspy-example .services .head h1 {
        font-size: 4.5rem;
    }

    .client .card .card-inner .person {
        display: block;
    }
}

@media (max-width: 334px) {
    .scrollspy-example .about .head h1 {
        font-size: 3.7rem;
    }

    .scrollspy-example .services .head h1 {
        font-size: 4rem;
    }

    .scrollspy-example .contact .head h1,
    .scrollspy-example .client .head h1,
    .scrollspy-example .portfolio .my-work h1 {
        font-size: 3rem;
    }

    .scrollspy-example section .head h3,
    .scrollspy-example section .head #bio,
    .scrollspy-example section .head .edu {
        font-size: 1.5rem;
    }
}

@media (max-width: 320px) {
    .scrollspy-example .about .head h1 {
        font-size: 3rem;
    }

    .scrollspy-example .services .head h1 {
        font-size: 3.5rem;
    }

    .scrollspy-example .client .head h1,
    .scrollspy-example .contact .head h1 {
        font-size: 2.5rem;
    }
}